body
{
	color:#fff;
	background-color:#555;
}

input, textarea
{
	color:#fff;
	background-color:#000;
}

@media (prefers-color-scheme: light) {
	body 
	{
		background-color: #ffffff;
		color:#000000
	}

	input, textarea
	{
		color:#000;
		background-color:#ccc;
	}
}